<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Golem Unlimited - Panel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://underscorejs.org/underscore-min.js"></script>
    <script src="https://unpkg.com/angularjs-gauge@2.2.0/dist/angularjs-gauge.min.js"></script>
    <style>
        body {
            padding: 6px;
        }
        .text-monospace {
            font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
        }
        .progress-label {
                position: relative;
                top: -40px;
                text-align: center;
                width: 100%;
                display: block;
                height: 0px;
        }
    </style>
</head>
<body>
<div class="container-fluid" ng-controller="AppController">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Panels
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-repeat="tab in tabs" ng-class="{active: tab == activeTab}">
                                <a href="#" ng-click="openTab(tab)">
                                    <img src="{{tab.icon}}" width="30" height="30" ng-if="!!tab.icon">
                                    {{tab.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Plugins
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-repeat="tab in pluginTabs" ng-class="{active: tab == activeTab}">
                                <a href="#" ng-click="openTab(tab)"><img src="{{tab.icon}}" width="30" height="30" ng-if="!!tab.icon">
                                    {{tab.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-10">
            <div class="row" ng-include="activeTab.page">
            ala {{activeTab | json }}
                / {{tab.name }}
            </div>
        </div>
    </div>
</div>
<script src="ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="app.js"></script>
<script src="plug/Mining/app.js"></script>
<script>angular.bootstrap(document, ['gu']);</script>
</body>