<div class="col-md-12" ng-controller="ProvidersController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right">
                <a class="btn btn-sm btn-default" href="#" ng-click="refresh()">
                    <img src="icons/refresh.svg" width="30" height="30">
                </a>
            </div>
            <h4><img src="icons/providers.svg" width="45" height="45"></i> Providers</h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Node Id</th>
                    <th>Node Name</th>
                    <th>RAM</th>
                    <th>GPU</th>
                    <th>Sessions</th>
                    <th>Connection</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="peer in peers track by peer.nodeId">
                        <td>
                            <code><a href="#" ng-click="show(peer)">{{peer.nodeId}}</a></code>
                            <span class="label label-{{peer.os.toLowerCase().includes('macos') ? 'info' : 'default'}}" ng-if="peer.os">{{peer.os}}</span>
                        </td>
                        <td>
                            <span>{{peer.nodeName || peer.hostname}}</span>
                        </td>
                        <td><span ng-if="peer.ram">
                            <uib-progress max="peer.ram.total" animate="false">
                                <uib-bar value="peer.ram.used" type="warning" title="used: {{peer.ram.used/1000/1000 | number: 1}} GB">
                                    <span ng-hide="peer.ram.used/peer.ram.total < 0.05">{{peer.ram.used/1000/1000 | number: 1}}</span>
                                </uib-bar>
                                <uib-bar value="peer.ram.free" type="success" title="free: {{peer.ram.free/1000/1000 | number: 1}} GB">
                                    <span ng-hide="peer.ram.free/peer.ram.total < 0.05">{{peer.ram.free/1000/1000 | number: 1}} GB</span>
                                </uib-bar>
                            </uib-progress>
                        </span></td>
                        <td>
                            <span ng-if="!!peer.gpu">
                                <span class="label label-primary" ng-if="peer.gpu.amd">AMD {{peer.gpu.amd > 1 ? "x"+peer.gpu.amd : ""}}</span>
                                <span class="label label-danger" ng-if="peer.gpu.nvidia">NVidia {{peer.gpu.nvidia > 1 ? "x"+peer.gpu.nvidia : ""}}</span>
                            </span>
                        </td>
                        <td>{{(peer.sessions.length || 0)}}</td>
                        <td>{{peer.peerAddr}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>