<div class="col-md-12" ng-controller="ProvidersController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right"><a class="btn btn-sm btn-default" href="#" ng-click="refresh()"><i class="glyphicon glyphicon-refresh"></i></a></div>
            <h4><i class="glyphicon glyphicon-th"></i> Providers</h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Node Id</th>
                    <th>Connection</th>
                    <th>RAM</th>
                    <th>GPU</th>
                    <th>Sessions</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="peer in peers track by peer.nodeId">
                        <td>
                            <code><a href="#" ng-click="updatePeer(peer)">{{peer.nodeId}}</a></code>
                            <span class="label label-default" ng-if="!!peer.os">{{peer.os}}</span>
                        </td>
                        <td>{{peer.peerAddr}}</td>
                        <td><span ng-if="peer.ram">
                            <uib-progressbar type="success" value="peer.ram.used" max="peer.ram.total"></uib-progressbar>
                            <span class="progress-label">
                            {{peer.ram.free/1000/1000 | number: 1}} / {{peer.ram.total/1024/1000 | number: 1}} GB
                            </span>
                        </span></td>
                        <td>
                            <span ng-if="!!peer.gpu">
                                <span class="label label-success" ng-if="peer.gpu.amd">AMD</span>
                                <span class="label label-success" ng-if="peer.gpu.nvidia">NVIDIA</span>
                            </span>
                        </td>
                        <td>{{(peer.sessions.length || 0)}}</td>
                        <td>{{peer.nodeName || peer.hostname}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>