<div class="col-md-12" ng-controller="StatusController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right">
                <a class="btn btn-sm btn-default" href="#" ng-click="refresh()">
                    <i class="glyphicon glyphicon-refresh"></i>
                </a>
            </div>
            <h4><i class="glyphicon glyphicon-home"></i> Status</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <!--p>Uptime: </p-->
                    <p>Peers connected: <b>{{(peers.length || 0)}}</b></p>
                    <p ng-if="hub.os">Server Os:
                        <span class="label label-{{hub.os.toLowerCase().includes('macos') ? 'info' : 'default'}}">{{hub.os}}</span>
                    </p>
                </div>
                <div class="col-md-4">
                    <ng-gauge
                            type="arch" thick="10"
                            value="hub.ram.used/hub.ram.total*100" size="150"
                              fraction-size="1" cap="butt" label="RAM used" append="%"
                    thresholds="{
                        '0': { color: 'green' },
                        '40': {color: 'orange' },
                        '80': {color: 'red'}
                    }">
                    </ng-gauge>
                    <p>{{hub.ram.used/1000000 | number: 1}} / {{hub.ram.total/1000000 | number: 1}} GB</p>
                </div>
                <div>
                    <ng-gauge
                            type="arch" thick="10"
                            value="(hub.disk.total-hub.disk.available)/hub.disk.total*100" size="150"
                            fraction-size="1" cap="butt" label="Disk used" append="%"
                            thresholds="{
                        '0': { color: 'green' },
                        '40': {color: 'orange' },
                        '80': {color: 'red'}
                    }">
                    </ng-gauge>
                    <p>{{(hub.disk.total-hub.disk.available)/1000000000 | number: 1}} / {{hub.disk.total/1000000000 | number: 1}} GB
                        <span class="label label-{{hub.disk.disk_type == 'SSD' ? 'success' : 'danger'}}">{{hub.disk.disk_type}}</span>
                    </p>
                </div>
                <!--div class="col-md-4">
                    <p>.....</p>
                    <p>.....</p>
                    <p>.....</p>
                    <p>.....</p>
                    <p>.....</p>
                </div-->
            </div>


        </div>
    </div>
</div>


