<table class="table">
    <thead>
    <tr>
        <th>Node Id</th>
        <th>Name</th>
        <th>RAM</th>
        <th>GPU</th>
        <th>Sessions</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="peer in hubPeers track by peer.nodeId">
        <td>
            <span>
                <code>{{peer.nodeId | limitTo:11}}</code>
                <span class="label label-{{peer.os.toLowerCase().includes('macos') ? 'info' : 'default'}}"
                      ng-if="peer.os">{{peer.os}}</span>
            </span>
        </td>
        <td>
            {{(peer.nodeName || peer.hostname)}}
        </td>
        <td><span ng-if="peer.ram">
                    <uib-progress max="peer.ram.total" animate="false">
                        <uib-bar value="peer.ram.used" type="warning"
                                 title="used: {{peer.ram.used/1000/1000 | number: 1}} GB">
                            <span ng-hide="peer.ram.used/peer.ram.total < 0.05">
                                {{peer.ram.used/1000/1000 | number: 1}}
                            </span>
                        </uib-bar>
                        <uib-bar value="peer.ram.free" type="success"
                                 title="free: {{peer.ram.free/1000/1000 | number: 1}} GB">
                            <span ng-hide="peer.ram.free/peer.ram.total < 0.05">
                                {{peer.ram.free/1000/1000 | number: 1}} GB
                            </span>
                        </uib-bar>
                    </uib-progress>
                </span></td>
        <td><span ng-if="!!peer.gpu">
                    <span class="label label-primary" ng-if="peer.gpu.amd">
                        AMD {{peer.gpu.amd > 1 ? "x"+peer.gpu.amd : ""}}
                    </span>
                    <span class="label label-danger" ng-if="peer.gpu.nvidia">
                        NVidia {{peer.gpu.nvidia > 1 ? "x"+peer.gpu.nvidia : ""}}
                    </span>
                </span></td>
        <td>
            {{(peer.sessions.length || 0)}}
        </td>
    </tr>
    </tbody>
</table>
