<div class="col-md-12" ng-controller="MiningController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><img src="plug/Mining/mining.svg" width="45" height="45">Mining</h4>
        </div>
        <div class="panel-body">
            <uib-tabset active="active">
                <uib-tab heading="Configuration">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form novalidate>
                                <div class="form-group col-md-6">
                                    <label>ETH Miner addr</label>
                                    <input class="form-control" ng-model="config.ethAddr"
                                           type="text" placeholder="0x979db95461652299c34e15df09441b8dfc4edf7a">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Monero Miner addr</label>
                                    <input class="form-control" ng-model="config.moneroAddr"
                                           type="text"  placeholder="47gGphBoYt4SAb4p4Ro8W14tk3qcpyiVJY3L19iWyh4gbeyhTu41LvNGUcqXhiqTR3WKmYG1ZeTQTM2vL1ZZKDcUCNYxado">
                                </div>
                                <div class="form-group col-md-12">
                                    <button class="btn btn-primary" ng-click="save()">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Sessions" select="onSessions()">
                    <div ng-include="'plug/Mining/session.html'"></div>
                </uib-tab>
                <uib-tab ng-show="!!session" heading="{{session.id}}">
                    <div ng-include="sessionPage(session)"/>
                </uib-tab>

            </uib-tabset>
        </div>
    </div>
</div>