<div ng-controller="MiningPrepare">
    <div class="row">
        <div class="col-md-12">
            <span class="text-mute">Preselection</span>
            <i class="glyphicon glyphicon-menu-right"></i>
            <b>Benchmark and tests</b>
            <i class="glyphicon glyphicon-menu-right"></i>
            Deployment
            <div class="pull-right" style="padding: 8px;">
                <button class="btn btn-default" ng-class="{'disabled': blockNext(peers)}" ng-click="nextStep()">Start</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-border">
                <thead>
                <tr>
                    <th>Node Id</th>
                    <th>Name</th>
                    <th>RAM</th>
                    <th>GPU</th>
                    <th colspan="2">Monero</th>
                    <th colspan="1">ETH</th>
                </tr>
                <tr>
                    <td colspan="4">

                    </td>
                    <th>CPU</th>
                    <th>GPU</th>
                    <th>GPU</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="peer in peers track by peer.nodeId">
                    <td>
                        <code>{{peer.nodeId | limitTo:11}}</code>
                        <span class="label label-{{peer.os.toLowerCase().includes('macos') ? 'info' : 'default'}}" ng-if="peer.os">{{peer.os}}</span>
                    </td>
                    <td>{{(peer.nodeName || peer.hostname)}}</td>
                    <td><span ng-if="peer.ram">
                            <uib-progress max="peer.ram.total" animate="false">
                                <uib-bar value="peer.ram.used" type="warning" title="used: {{peer.ram.used/1000/1000 | number: 1}} GB">
                                    <span ng-hide="peer.ram.used/peer.ram.total < 0.05">{{peer.ram.used/1000/1000 | number: 1}}</span>
                                </uib-bar>
                                <uib-bar value="peer.ram.free" type="success" title="free: {{peer.ram.free/1000/1000 | number: 1}} GB">
                                    <span ng-hide="peer.ram.free/peer.ram.total < 0.05">{{peer.ram.free/1000/1000 | number: 1}} GB</span>
                                </uib-bar>
                            </uib-progress>
                        </span></td>
                    <td><span ng-if="!!peer.gpu">
                                <span class="label label-primary" ng-if="peer.gpu.amd">AMD {{peer.gpu.amd > 1 ? "x"+peer.gpu.amd : ""}}</span>
                                <span class="label label-danger" ng-if="peer.gpu.nvidia">NVidia {{peer.gpu.nvidia > 1 ? "x"+peer.gpu.nvidia : ""}}</span>
                            </span></td>
                    <td colspan="2" ng-if="!mSession.hr(peer.nodeId, 'gu:mining:monero')">
                        <span ng-if="progress[peer.nodeId]['deploy:gu:mining:monero']">
                            <uib-progressbar max="progress[peer.nodeId]['deploy:gu:mining:monero'].size"
                                             value="progress[peer.nodeId]['deploy:gu:mining:monero'].pos" type="success">
                                {{progress[peer.nodeId]['deploy:gu:mining:monero'].label}}
                            </uib-progressbar>
                        </span>
                        <span ng-if="progress[peer.nodeId]['bench:gu:mining:monero']">
                            <uib-progressbar max="progress[peer.nodeId]['bench:gu:mining:monero'].size"
                                             value="progress[peer.nodeId]['bench:gu:mining:monero'].pos" type="success">
                                {{progress[peer.nodeId]['bench:gu:mining:monero'].label}}
                            </uib-progressbar>
                        </span>
                        <span ng-if="monero[peer.nodeId]">{{monero[peer.nodeId].hashRate}} H/s</span>
                    </td>
                    <td ng-if="!!mSession.hr(peer.nodeId, 'gu:mining:monero')">
                        {{mSession.hr(peer.nodeId, 'gu:mining:monero')['hashrate-cpu']}} H/s
                    </td>
                    <td ng-if="!!mSession.hr(peer.nodeId, 'gu:mining:monero')">
                        {{mSession.hr(peer.nodeId, 'gu:mining:monero')['hashrate-gpu']}} H/s
                    </td>
                    <td ng-if="!mSession.hr(peer.nodeId, 'gu:mining:eth')">
                        <span ng-if="progress[peer.nodeId]['deploy:gu:mining:eth']">
                            <uib-progressbar max="progress[peer.nodeId]['deploy:gu:mining:eth'].size"
                                             value="progress[peer.nodeId]['deploy:gu:mining:eth'].pos" type="success">
                                {{progress[peer.nodeId]['deploy:gu:mining:eth'].label}}
                            </uib-progressbar>
                        </span>
                        <span ng-if="progress[peer.nodeId]['bench:gu:mining:eth']">
                            <uib-progressbar max="progress[peer.nodeId]['bench:gu:mining:eth'].size"
                                             value="progress[peer.nodeId]['bench:gu:mining:eth'].pos" type="success">
                                {{progress[peer.nodeId]['bench:gu:mining:eth'].label}}
                            </uib-progressbar>
                        </span>
                    </td>
                    <td ng-if="!!mSession.hr(peer.nodeId, 'gu:mining:eth')">
                        {{mSession.hr(peer.nodeId, 'gu:mining:eth')['hashrate-gpu']}} H/s
                    </td>


                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-if="false">
        <pre>
            {{mSession.id}}
        </pre>
        <div ng-repeat="peer in mSession.peers">
            peer: {{peer.id}}<br />
            os: {{peer.os}}<br />
            s: {{peer.sessions.length}}
            <div ng-repeat="session in peer.sessions">
                id: {{session.id}},<br/>
                type: {{session.type}},<br/>
                spec: {{session.spec | json }}</br/>
                hr: {{session.hr | json }}<br/>
                <a href="#" class="btn btn-default" ng-click="session.validate()">Check Session</a>
                <a href="#" class="btn btn-default" ng-click="session.bench()">Bench</a>
                <a href="#" class="btn btn-default" ng-click="session.start()">Start</a>
            </div>
            <a href="#" class="btn btn-default" ng-click="peer.deploy('gu:mining:monero')">Deploy monero</a>
        </div>

    </div>
</div>