<div ng-controller="MiningWork">
    <div class="row">
        <div class="col-md-12">
            <span class="text-mute">Preselection</span>
            <i class="glyphicon glyphicon-menu-right"></i>
            <span class="text-mute">Benchmark and tests</span>
            <i class="glyphicon glyphicon-menu-right"></i>
            <b>Monitoring</b>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-border">
                <thead>
                <tr>
                    <th>Node Id</th>
                    <th>Name</th>
                    <th>RAM</th>
                    <th>GPU</th>
                    <th colspan="2">Monero</th>
                    <th colspan="1">ETH</th>
                </tr>
                <tr>
                    <td colspan="4">

                    </td>
                    <th>CPU</th>
                    <th>GPU</th>
                    <th>GPU</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="peer in peers track by peer.nodeId">
                    <td>
                        <code>{{peer.nodeId}}</code>
                        <span class="label label-{{peer.os.toLowerCase().includes('macos') ? 'info' : 'default'}}" ng-if="peer.os">{{peer.os}}</span>
                    </td>
                    <td>{{(peer.nodeName || peer.hostname)}}</td>
                    <td><span ng-if="peer.ram">
                            <uib-progress max="peer.ram.total" animate="false">
                                <uib-bar value="peer.ram.used" type="warning" title="used: {{peer.ram.used/1000/1000 | number: 1}} GB">
                                    <span ng-hide="peer.ram.used/peer.ram.total < 0.05">{{peer.ram.used/1000/1000 | number: 1}}</span>
                                </uib-bar>
                                <uib-bar value="peer.ram.free" type="success" title="free: {{peer.ram.free/1000/1000 | number: 1}} GB">
                                    <span ng-hide="peer.ram.free/peer.ram.total < 0.05">{{peer.ram.free/1000/1000 | number: 1}} GB</span>
                                </uib-bar>
                            </uib-progress>
                        </span></td>
                    <td><span ng-if="!!peer.gpu">
                                <span class="label label-primary" ng-if="peer.gpu.amd">AMD {{peer.gpu.amd > 1 ? "x"+peer.gpu.amd : ""}}</span>
                                <span class="label label-danger" ng-if="peer.gpu.nvidia">NVidia {{peer.gpu.nvidia > 1 ? "x"+peer.gpu.nvidia : ""}}</span>
                            </span></td>
                    <td >
                        <button type="button" class="btn" ng-class="{'btn-primary': isCpu(peer, 'gu:mining:monero'), 'btn-default': !isCpu(peer, 'gu:mining:monero')}" ng-click="toggle(peer, 'gu:mining:monero', 'cpu')"></button>

                        <div ng-if="!!mSession.hr(peer.nodeId, 'gu:mining:monero')">
                        {{mSession.hr(peer.nodeId, 'gu:mining:monero')['hashrate-cpu']}} H/s
                        </div>
                    </td>
                    <td ng-if="!!mSession.hr(peer.nodeId, 'gu:mining:monero')">
                        <button type="button" class="btn"
                                ng-if="mSession.hr(peer.nodeId, 'gu:mining:monero')['hashrate-gpu']"
                                ng-class="{'btn-primary': isGpu(peer, 'gu:mining:monero'), 'btn-default': !isGpu(peer, 'gu:mining:monero')}" ng-click="toggle(peer, 'gu:mining:monero', 'gpu')"></button>
                        <div ng-if="!!mSession.hr(peer.nodeId, 'gu:mining:monero')">
                        {{mSession.hr(peer.nodeId, 'gu:mining:monero')['hashrate-gpu']}} H/s
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn"
                                ng-if="mSession.hr(peer.nodeId, 'gu:mining:eth')['hashrate-gpu']"
                                ng-class="{'btn-primary': isGpu(peer, 'gu:mining:eth'), 'btn-default': !isGpu(peer, 'gu:mining:monero')}" ng-click="toggle(peer, 'gu:mining:eth', 'gpu')"></button>
                        <div ng-if="!!mSession.hr(peer.nodeId, 'gu:mining:eth')">
                            {{mSession.hr(peer.nodeId, 'gu:mining:eth')['hashrate-gpu']}} H/s
                        </div>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>